.post {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #f1f2f2;

    border-radius: 4px;
    background: #f8f8f8;
}

/*======POST USER INFO======*/
.postUserInfo {

}

.userPost {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.userPost img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.profileLink {
    font-size: 16px;
    color: #27aae1;
}

.countPub {
    font-size: 12px;
    color: #939598;
}

/*======POST BODY======*/
.postBody {

}

.postImg {
    object-fit: cover;

    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
}

.like {
    font-size: 14px;
}

.like img {
    width: 13px;
    height: 13px;
}

.like span {
    color: #777D74;
}

.postText {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    line-height: 1.5;
}

.postText p {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 13px;
    line-height: 24px;
}

.postComment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postComment h4 {
    padding: 10px 50px 0 50px;
    border-top: 1px solid #e6e6e6;
    font-size: 15px;
    font-weight: bold;
    color: #231F20;
}

.commentBlock {
    width: 100%;
    height: auto;

    margin: 10px 0;
    padding: 0 50px;
}

.commentBlock p {
    /*text-align: center;*/
    padding: 5px;
    font-size: 14px;
    color: #000;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.newComment {
    width: 400px;
    height: 30px;

    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;

    font-size: 13px;
    color: #939598;
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.send {
    width: 52px;
    height: 30px;

    margin: 0 7px;
    border-radius: 3px;

    font-size: 13px;
    font-weight: 600;

    color: #fff;
    background: #27aae1;
}