* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ---------------------------------------- */
.app-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;

    background-color: #fff;
    color: #6d6e71;
}

.app-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.app-wrapper::-webkit-scrollbar-thumb {
    background: #000;
}

.container{
    display: flex;
    margin: 0 auto;

    width: 1050px;
    height: 100%;
}

.main {
    flex: 1 1 auto;
    margin-top: 50px;
    margin-left: 200px;
    padding: 10px 20px;
}

